h2 { text-align: left;}
body {
    background-image: url('beaches.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

h1 {
    color: white;
    text-align: left;
}

p {
    font-family: fantasy;
    font-size: 18px;
}
